.pagination-content{
  width: 100%;
  height: 4rem;

  .pagination {
    li {
      a {
        &.active {
          border-radius: 100%;
        }
      }
    }
  }

  .limit {
    justify-content: flex-end;
  }

  li {
    list-style-type: none;
    margin: .4rem;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.7rem;
      height: 1.7rem;
      color: #434244;

      &.active {
        background-color: #F2994A;
        color: #fff;
      }
    }
  }
}


